* {
    padding:0;
    margin:0;
}
h1 {
    color:white;
    position:absolute;
    left:80px;
    top:0;
    line-height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    width:280px;
}
h2 {
    color:white;
    position:relative;
    padding: 3px;
    text-align: center;
}
header {
    background-color:rgba(35,28,26,0.8);
    height:80px;
    width:100%;
    position:fixed; 
    top: 0;   
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1000;
}

header ul {
    position:absolute;
    right:5vw;
    top:0;
    line-height:80px;
}
header li {
    display:inline;
    margin-right:4vw;    
}
header a {
    color:white;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}

body {
    font-family: 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* 設置背景圖像的容器 */
.background-image {
    position: fixed; /* 固定背景 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('blueink.png'); /* 更換為你的背景圖像 */
    background-size: cover; /* 使背景圖像覆蓋整個容器 */
    background-position: center; /* 背景圖像居中 */
    background-repeat: no-repeat; /* 防止背景圖像重複 */
    filter: blur(8px); /* 設置模糊效果，根據需要調整數值 */
    z-index: -1; /* 確保背景圖像位於內容後面 */
}

#start-page {
    text-align: center;
    margin-top: 20px;
}

#quiz-container {
    width: 80%;
    top: 500px;
    bottom: 300px;
    max-width: 600px;
    margin: 100px auto 20px auto;
    padding: 20px;
    background-color: rgb(66, 80, 134);
    border: 5px white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#quiz-container label,
#quiz-container p {
    padding: 15px;
    color: white;
}

/* 音樂播放器樣式 */
#audio-player {
    display: none;
}

/* 靜音按鈕樣式 */
.mute-button {
    position: fixed;
    top: 100px;
    right: 10px;
    background-color: rgb(81, 97, 158, 0.8);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* 確保圖標在最上層 */
}

.mute-button:hover {
    background-color: rgb(66, 80, 134, 0.8); /* 懸停時按鈕的背景顏色 */
}

.pic {
    position: relative;
    width: 100%; 
    max-width: 300px;
    display: block; 
    margin: 0 auto; 
    padding: 20px
}

/* 開始測驗按鈕樣式 */
.start-button {
    background-color: rgb(255, 160, 90); /* 按鈕背景顏色 */
    border: 2px solid #cccccca1; /* 按鈕邊框顏色 */
    border-radius: 50px; /* 圓形按鈕 */
    padding: 15px 30px;
    margin: 10px auto; /* 自動邊距以實現水平置中 */
    text-align: center;
    display: inline-block;
    cursor: pointer;
    width: 60%;
    /* max-width: 300px; 限制按鈕寬度 */
    color: #ffffff; /* 按鈕文字顏色 */
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease; /* 平滑過渡效果 */
}

.start-button:hover {
    background-color: rgb(255, 140, 0); /* 懸停背景顏色 */
    color: #fff; /* 懸停文字顏色 */
}

.white-icon {
    font-size: 24px;
}

.quiz-page {
    display: none;
}

.question {
    margin-bottom: 20px;
}

.question p {
    font-weight: bold;
}

.hidden-radio {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
}

.navigation-label {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid #5A0A96; /* 按鈕邊框顏色 */
    border-radius: 5px;
    cursor: pointer;
    background-color: #6A0DAD; /* 按鈕背景顏色 */
    color: #fff; /* 按鈕文字顏色 */
    font-size: 16px;
    line-height: 1;
    margin: 5px;
    text-align: center;
    font-weight: bold;
}

.navigation-label:hover {
    background-color: #7D3FD5; /* 懸停背景顏色 */
    border-color: #9D4EDD;
}

.navigation-buttons {
    text-align: center;
    margin-top: 20px;
}

.navigation-label:active {
    background-color: #d0f0c0;
    border-color: #a0d0a0;
}

.page-indicator {
    text-align: center;
    font-size: 0.8em;
    color: #666;
    margin-top: 10px;
}

.save-instruction {
    text-align: center;
    font-size: 0.8em;
    color: #666;
    margin-top: 10px;
}

.button-container {
    text-align: center; /* 將內部內容置中 */
    margin-top: 20px; /* 顯示容器與上方內容的間距 */
}

.result-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: rgb(255, 160, 90); /* 按鈕背景顏色 */
    border: 2px solid #ccc;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.result-button:hover {
    background-color: rgb(255, 140, 0); /* 懸停背景顏色 */
}

.result-button:active {
    background-color: #d0f0c0;
    border-color: #a0d0a0;
}

.option-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* padding: 0 20px; */
}

.option-button {
    display: inline-block;
    width: 80%; /* 按钮宽度为容器宽度减去左右边距 */
    padding: 5px 10px;
    margin: 0 auto;
    border-radius: 50px;
    background-color: rgb(255, 160, 90); /* 按鈕背景顏色 */
    border: 2px solid #ccc;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-family: 'Source Han Sans', sans-serif; /* 設置字體 */
    font-size: 16px;
    font-weight: bold;
}

.option-input {
    display: none;
}

.option-input:checked + .option-button {
    background-color: #ccc;
    border-color: #aaa;
    cursor: not-allowed;
}

/*如果使用者的裝置沒有安裝某個特定字體，瀏覽器會依序嘗試使用其他字體，直到找到可用的字體*/
label {
    display: block;
    margin-bottom: 10px;
    font-family: 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Arial', sans-serif;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

.menu {
    display: none;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:#000000;
    color:#B7B7B7;
    height:60px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

/* Phone */
@media screen and (max-width: 768px) {
    .menu {
        display: none;
        background-color: transparent;
        color: white;
        font-size: 35px;
        position: absolute;
        top: 15px;
        left: 20px;
        border: none;
        cursor:pointer;
    }
}